body{
background-image: url("/img/back.jpg");
 background-size: cover;
  background-position: center; 
}
.center {
  margin: auto;
  width: 100%;
  position: absolute;
  top: 50%;

 text-align:center;
  padding: 10px;
}
.title
{
	color:white;
	text-shadow: 2px 2px #000000;
}